*,
*:before,
*:after {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    line-height: 2;
}


/* Globales */

img {
    max-width: 100%;
}

.contenedor {
    max-width: 120rem;
    margin: 0 auto;
}

h1 {
    font-size: 3.8rem;
}

h2 {
    font-size: 3.4rem;
}

h3 {
    font-size: 3rem;
}

h4 {
    font-size: 2.8rem;
}

p {
    font-size: 1.5rem;
}

blockquote {
    font-size: 1.5rem;
}

form {
    font-size: 1.5rem;
}


/* utilidades */

.seccion {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.fw-300 {
    font-weight: 300;
}

.centrar-texto {
    text-align: center;
}

.d-block {
    display: block!important;
}

.contenido-centrado {
    max-width: 80rem;
}


/* Botones */

.boton:hover {
    cursor: pointer;
    color: #e7e7e7;
}

.boton {
    text-decoration: none;
    color: #ffffff;
    font-weight: 700;
    font-size: 1.8rem;
    padding: 1rem 3rem;
    margin-top: 3rem;
    display: inline-block;
    text-align: center;
    border: none;
}

.boton-amarillo {
    background-color: #e08709;
}

.boton-verde {
    background-color: #71B100;
}

.iconos-caracteristicas {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    flex: 1;
    max-width: 50rem;
}

.iconos-caracteristicas li {
    display: flex;
}

.iconos-caracteristicas li img {
    margin-right: 1em;
}

.ver-todas {
    display: flex;
    justify-content: flex-end;
}


/* header */

.site-header {
    background-color: #333333;
    padding: 1rem 0 3rem 0;
}

.site-header.inicio {
    background: url(../img/header1.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    min-height: 60rem;
}

.contenido-header {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contenido-header h1 {
    font-size: 4rem;
    color: white;
    padding-bottom: 2rem;
    max-width: 60rem;
    line-height: 1.5;
}

.barra {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 3rem;
}


/* Navegacion */

.navegacion a {
    color: white;
    text-decoration: none;
    font-size: 1.8rem;
    margin-right: 2rem;
}

.navegacion a:hover {
    color: #71B100;
}

.navegacion a:last-of-type {
    margin: 0;
}


/*Iconos nosotros*/

.iconos-nosotros {
    display: flex;
    justify-content: space-between;
}

.icono {
    flex-basis: 33.3%;
    text-align: center;
}

.icono h3 {
    text-transform: uppercase;
}


/* Anuncios */

.contenedor-anuncios {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
}

.anuncio {
    flex: 0 0 calc(33.3% - 1rem);
    border: 1px solid #b5b5b5;
    background-color: #f5f5f5;
    margin-bottom: 2rem;
}

.contenido-anuncio {
    padding: 2rem;
}

.contenido-anuncio h3,
.contenido-anuncio p {
    margin: 0rem;
}

.precio {
    color: #71B100;
    font-weight: 700;
}


/*Contacto home */

.imagen-contacto {
    background-image: url(../img/encuentra.jpg);
    background-position: center center;
    background-size: cover;
    height: 40rem;
    display: flex;
    align-items: center;
}

.contenido-contacto {
    flex: 1;
    color: #ffffff;
}

.contenido-contacto p {
    font-size: 1.8rem;
}


/* Seccion Inferior */

.seccion-inferior {
    display: flex;
    justify-content: space-between;
}

.seccion-inferior .blog {
    flex-basis: 60%;
}

.seccion-inferior .testimoniales {
    flex-basis: calc(40% - 2rem);
}

.entrada-blog {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.2rem;
}

.entrada-blog:last-of-type {
    margin-bottom: 0;
}

.entrada-blog .imagen {
    flex-basis: 40%;
}

.entrada-blog .texto-entrada {
    flex-basis: calc(60% - 3rem);
}

.texto-entrada h4 {
    margin: 0;
}

.texto-entrada h4::after {
    content: '';
    display: block;
    width: 20rem;
    height: .3rem;
    background-color: #71B100;
}

.entrada-blog a {
    text-decoration: none;
    color: #000000;
}

.entrada-blog a:hover {
    color: #71B100;
}

.texto-entrada span {
    color: #e08709;
}


/* Testimoniales */

.testimonial {
    background-color: #71B100;
    font-size: 2.4rem;
    padding: 2rem;
    color: #ffffff;
    border-radius: 2rem;
}

.testimonial p {
    text-align: right;
}

.testimonial blockquote::before {
    content: '';
    background-image: url(../img/comilla.svg);
    width: 4rem;
    height: 4rem;
    position: absolute;
    top: 0rem;
    left: -2rem;
}

.testimonial blockquote {
    position: relative;
    padding-left: 5rem;
}


/* Footer */

.site-footer {
    background-color: #333333;
    margin: 0;
}

.contenedor-footer {
    padding: 3rem 0;
    display: flex;
    justify-content: space-between;
}

.copy {
    margin: 0;
    color: #ffffff;
}


/* Internas */


/* Nosotros */

.contenido-nosotros {
    display: grid;
    grid-template-columns: 50% 50%;
    column-gap: 2rem;
}

.texto-nosotros blockquote {
    font-weight: 700;
    font-size: 2rem;
    margin: 0;
    padding: 1rem 0 3rem 0;
}


/* Anuncio */

.resumen-propiedad {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* Contacto */

fieldset {
    border-radius: .3em;
}

form p {
    font-weight: 700;
    font-size: 1.3rem;
    color: #4f4f4f;
    margin: 2rem 0 0 0;
}

legend {
    font-size: 2rem;
    color: #333333;
}

label {
    font-weight: 700;
    display: block;
    text-transform: uppercase;
    font-size: 1.3rem;
}

input:not([type="submit"]),
textarea,
select {
    background-color: #e1e1e1;
    padding: 1rem;
    display: block;
    width: 100%;
    margin-bottom: 2rem;
    border: none;
    border-radius: 1rem;
}

select {
    -webkit-appearance: none;
    appearance: none;
}

textarea {
    height: 20rem;
}

input[type="radio"] {
    width: auto;
    margin: 0;
}

.forma-contacto {
    max-width: 25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

input[type="tel"]:invalid {
    color: red;
    text-shadow: aquamarine;
}